/******************/
/* begin general */
/****************/
body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    margin: auto;
}

img {
    max-width: 250px;
    max-height: 250px;
}

main {
    display: flex;
}

article {
    margin: 5px;
}

/****************/
/* end general */
/**************/

/*****************/
/* begin header */
/***************/

header{
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  background-color: white;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav a:hover {
    color: grey;
}

/***************/
/* end header */
/*************/

/****************/
/* begin table */
/**************/

table {
    border: solid;
    font-family: "Arial";
}

th {
    font-weight: bold;
}

td {
    font-size: 12pt;
}

h1, h2, table {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.tableflexbox {
    display: flex;
    flex-flow: wrap;
}

.tableflexitem {
    flex: 2;
    overflow: auto;
}

.tableimg1 {
    background-image: url("../images/bg_table1.jpg");
    background-attachment: fixed;
}

.tableimg2 {
    background-image: url("../images/bg_table2.jpg");
    background-attachment: local;
    color: white;
}

.tableimg3 {
    background-image: url("../images/bg_table3.jpg");
    background-attachment: scroll;
}

/**************/
/* end table */
/************/