{% load static %}

<head>
    <title>Weight in Gold</title>
    <link rel="stylesheet" href="{% static 'gold/style.css' %}">
</head>
<div class="container">
    <h2>Whats your weight worth in gold?</h2>
    <input type="number" id="input" name="weight">
    <input type="button" id="calculate" name="calculate" value="calculate" onclick="calculate()">
    <p id="answer"></p>
</div>

<script type="text/javascript">
    var getDaysBack = function(daysback){
        var date = new Date()
        date.setDate(date.getDate()-daysback);
        
        return date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate();
    }

    var apiKey = 'tiumLURMmgp9gz7krpDs';

    var start = getDaysBack(5),
        end = getDaysBack(0);
    var goldRUrl = "https://www.quandl.com/api/v3/datasets/LBMA/GOLD.json?api_key="
        + apiKey + "&column_index=2&start_date=" + start + "&end_date=" + end;
    
    var priceOfGold;
    var goldR = new XMLHttpRequest();
    goldR.open('GET', goldRUrl);
    goldR.responseType = 'json';
    goldR.send();
    goldR.onload = function() {
        var json = goldR.response;
        console.log(json);
        priceOfGold = json.dataset.data[0][1];
        console.log(priceOfGold);
    }
    
    var input = document.querySelector('#input');
    var answer = document.querySelector('#answer');
    
    var calculate = function() {
        var convWeight;
        var unitconvURL = "https://cs2610-tyler95smith.c9users.io/unitconv/convAPI?from=lbs&to=t_oz&value=" + input.value;
        var unitconvR = new XMLHttpRequest();
        unitconvR.open('GET',unitconvURL);
        unitconvR.responseType = 'json';
        unitconvR.send();
        unitconvR.onload = function() {
            var json = unitconvR.response;
            console.log(json);
            convWeight = json.value;
            answer.innerHTML = "$" + (convWeight*priceOfGold).toLocaleString("en-US", {style: "decimal", currency: "USD", minimumFractionDigits: 2, maximumFractionDigits: 2});

        }
    }
</script>