{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        <title>About Me</title>
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="{% url 'blog:index'%}">Home</a></li>
                <li><a href="{% url 'blog:about'%}">About</a></li>
                <li><a href="{% url 'blog:tech_tips'%}">Tech Tips</a></li>
              </ul>
            </nav>
        </header>
        
        <h1>About Me</h1>
        
        <main>
            <img src="{% static 'blog/images/fry.jpg' %}" alt="fry looking back"/>
            <article>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed sollicitudin lacus. Curabitur quis tempor mi. 
                Proin vestibulum leo tellus, eu lacinia mauris consectetur non. Sed maximus nibh eget nunc euismod sollicitudin. 
                Aenean eu ullamcorper mi. Vivamus id cursus augue, eu bibendum turpis. Phasellus nec aliquet sapien. Ut pharetra ac dui sed gravida. 
                Quisque aliquet leo ullamcorper diam dignissim consequat. Ut ac eros a neque elementum condimentum quis quis metus. 
                Sed pretium quam nec velit ultrices, ac sodales lacus hendrerit. Maecenas ultricies feugiat velit, vestibulum dapibus leo tempus non.
            </article>
            
            <aside>
                <h1>Look at Me</h1>
                <img src="{% static 'blog/images/planet_express.jpg' %}" alt="planet express building"/>
                <img src="{% static 'blog/images/fry_fight.jpg' %}" alt="fry fighting zoidberg"/>
                <img src="{% static 'blog/images/bender_fry.jpg' %}" alt="bender and fry"/>
            </aside>
        </main>
        
        <footer>
            <span>&copy; 2017, Tyler Smith</span>
        </footer>
    </body>
</html>