{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        <title>My Blog</title>
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="{% url 'blog:index'%}">Home</a></li>
                <li><a href="{% url 'blog:about'%}">About</a></li>
                <li><a href="{% url 'blog:tech_tips'%}">Tech Tips</a></li>
              </ul>
            </nav>
        </header>
    
        <main style="display:inline">
            {% for blog in all_blog_posts %}
                <article>
                    <h1>{{blog.title_text}}</h1>
                    {{blog.content_text|truncatewords:200}}
                    <span style="display:block">Comment Count: {{ blog.comment_set.count }}</span>
                </article>
            {% endfor %}
        </main>
    </body>
</html>