{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
    <title>My Blog</title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="{% url 'blog:index'%}">Home</a></li>
            <li><a href="{% url 'blog:about'%}">About</a></li>
            <li><a href="{% url 'blog:tech_tips'%}">Tech Tips</a></li>
          </ul>
        </nav>
    </header>

    <main style="display:inline">
        <h1>{{ blog.title_text }}</h1>
        <article>{{ blog.content_text }}</article>
        
        <h3>comments</h3>
        <ul>
        {% for comment in blog.comment_set.all %}
            <li>{{ comment.content_text }} - {{ comment.comment_author }}</li>
        {% endfor%}
        </ul>
        
        <h3>Add comment</h3>
        <form action="{% url 'blog:addComment' blog.id %}" method="post">
        {% csrf_token %}
        <input type="textarea" name="content_text" id="content_text" />
        
        <input type="submit" value="Submit" />
        </form>
    </main>
</body>