{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        <title>My Blog</title>
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="{% url 'blog:index'%}">Home</a></li>
                <li><a href="{% url 'blog:about'%}">About</a></li>
                <li><a href="{% url 'blog:article'%}">Archive</a></li>
                <li><a href="{% url 'blog:tech_tips'%}">Tech Tips</a></li>
              </ul>
            </nav>
        </header>
        
        <h1>Philip J. Fry</h1>
        
        <main>
            {% if latest_blog_posts %}
                {% for blog in latest_blog_posts %}
                    <article>
                        <h1><a href= "{% url 'blog:detail' blog.id %}">{{blog.title_text}}</a></h1>
                        {{ blog.content_text|truncatewords:200 }}
                        <span style="display:block">Comment Count: {{ blog.comment_set.count }}</span>
                    </article>
                {% endfor %}
            {% else %}
                <article> no current blog posts </article>
            {% endif %}
            
            <aside>
                <a href="https://www.youtube.com/watch?v=iPUmE-tne5U">BEST SONG!!</a>
                <span style="display:block">Best Dog</span><img src="{% static 'blog/images/seymour.jpg' %}" alt="seymour the dog"/>
            </aside>
        </main>
        
        <footer>
            <span>&copy; 2017, Tyler Smith</span>
        </footer>
    </body>
</html>