{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        <title>Git Cheat Sheet</title>
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="{% url 'blog:index'%}">Home</a></li>
                <li><a href="{% url 'blog:about'%}">About</a></li>
                <li><a href="{% url 'blog:tech_tips'%}">Tech Tips</a></li>
              </ul>
            </nav>
        </header>
        
        <h1>Git Cheat Sheet</h1>
        <h2>For Dummies</h2>
        
        <main>
            <article class="tableflexbox">
                <div class="tableflexitem" style="order:3">
                    <h1>Git Info</h1>
                    <table class="tableimg3">
                        <tr>
                            <th>Name</th>
                            <th>Decription</th>
                            <th>Example</th>
                        </tr>
                        
                        <tr>
                            <td>Git Init</td>
                            <td>Creates a Git directory</td>
                            <td><code>Git Init</code></td>
                        </tr>
                        
                        <tr>
                            <td>Git Add <i>filename</i></td>
                            <td>Add changes to files to the git repository</td>
                            <td><code>Git Add index.html</code></td>
                        </tr>
                        
                        <tr>
                            <td>Git Status</td>
                            <td>Display the status of the repository</td>
                            <td><code>Git Status</code></td>
                        </tr>
                        
                        <tr>
                            <td>Git Commit</td>
                            <td>Commits changes from git add to the repository</td>
                            <td><code>Git Commit</code></td>
                        </tr>
                    </table>
                </div>
                
                <div class="tableflexitem" style="order:1">
                    <h1>HTML Info</h1>
                    <table class="tableimg1">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Example</th>
                        </tr>
                        <tr>
                            <td>html</td>
                            <td>tag containing all html code for the page.</td>
                            <td>&lt;html&gt;&lt;/html&gt;</td>
                        </tr>
                        <tr>
                            <td>head</td>
                            <td>tag containing info for how the page should interpert certain data.</td>
                            <td>&lt;head&gt;&lt;/head&gt;</td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>tag for links to other pages or websites.</td>
                            <td>&lt;a href="www.google.com"&gt;&lt;/a&gt;</td>
                        </tr>
                        <tr>
                            <td>img</td>
                            <td>tag for displaying images.</td>
                            <td>&lt;img src="cow.jpg"/&gt;</td>
                        </tr>
                    </table>
                </div>
                
                <div class="tableflexitem" style="order:2">
                    <h1>CSS Info</h1>
                    <table class="tableimg2">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Example</th>
                        </tr>
                        <tr>
                            <td>height</td>
                            <td>set the height of an object can use px,percentage, and some others. percentage is based on parent object.</td>
                            <td>height: 100px;</td>
                        </tr>
                        <tr>
                            <td>width</td>
                            <td>set the width of an object can use px,percentage, and some others. percentage is based on parent object.</td>
                            <td>width: 70%</td>
                        </tr>
                        <tr>
                            <td>background-color</td>
                            <td>sets a background color</td>
                            <td>background-color: red;</td>
                        </tr>
                        <tr>
                            <td>background-image</td>
                            <td>sets a background image</td>
                            <td>background-image: url("cow.jpg");</td>
                        </tr>
                    </table>
                </div>
            </article>
        </main>
        
        <p>
            <a href="https://git-scm.com/docs/git-commit"><img src="{% static 'blog/images/git_logo.jpg' %}" alt="image missing"></a>
            <a href="https://git-scm.com/docs/git-commit">Better to look at git</a>
        </p>
        
        <footer>
            <span>&copy; 2017, Tyler Smith</span>
        </footer>
        
    </body>
</html>